node_modules

.next

out
.env
.env.backend
.env.frontend
.env.discord-bot
.env.local
install-state.gz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
*.log
.env*
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
downloads
*.pack.gz
trace
.DS_Store
Thumbs.db
packages/frontend/.next/trace
